.main-resume{
  margin: 0px 100px 0px 300px;
  display: flex;
  padding: 30px;
}


h1.resume-type{
  font-size: 25px;
}

.resume-title{
  width: 450px;
  margin: 22px 220px 0px 0px;
}


.resume-info{
  display: flex;
  flex-direction: column;
}

.resume-part{
  margin: 30px 60px 8% 0px;
  font-size: 16px;  
  display: flex;
}

 .resume-year{
      margin: 0px 50px 0px 0px;
      width: 150px;
}

.resume-desc{
      margin: 0px 0px 0px 0px;
      width: 300px;
} 

hr.hr-resume{
  margin-top: 0px; 
}

.desc-experience, .skills{
  margin: 8px 0px 0px 15px;
}

  ul{
    margin: 8px 0px 0px 15px;

  }

  li{
    color: rgb(121, 117, 117);
    font-size: 14px;
  }
  

li.skills{
  color: black;
  font-size: 16px;
}

.card-cert{
  box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px; 
  max-width:60%;  
  margin-bottom: 30px;
}

.cert-title{
  font-size: 16px;
  color: rgb(78, 77, 77);

}

.hr-footer-resume{
  margin: 110px 1.2% 0px 1.2%;
}


@media (max-width:1536px) {
  .resume-desc div{
    font-size: 18px;
  }

  .resume-desc b{
    font-size: 18px;
  }

  .resume-desc i{
    font-size: 18px;

  }

  .resume-year div{
    font-size: 18px;
  }

  .main-resume{
    margin: 0px 100px 0px 200px;
  }
}

@media (max-width:1348px) {
  .main-resume{
    margin: 0px 100px 0px 150px;
  }
}

@media (max-width:1085px) {
  .main{
    margin-left: 70px;
  }
  
  .main-resume{
    margin: 0px 100px 0px 76px;
  }
}


@media (max-width:1000px) {
  .main-resume{
    flex-direction: column;
  }

  .main{
    margin-left: 145px;
  }

  .main-resume{
    margin: 0px 100px 0px 213px;
  }

  h1.resume-type{
    margin-bottom: 50px;
    font-size: 28px;
  }

  .resume-year{
    margin-right: 143px;
  }

}


@media (max-width:992px) {
  .main-resume{
    margin: 0px 0px 0px 213px;
  }
}

@media (max-width:892px) {
  .main-resume{
    margin: 0px 0px 0px 180px;
  }
}


@media (max-width:859px) {
  .main-resume{
    margin: 0px 0px 0px 151px;
  }
}


@media (max-width:789px) {
  .main-resume{
    margin: 0px 0px 0px 100px;
  }

  .main{
    margin-left: 97px;
  }
}


@media (max-width:730px) {
  .main-resume{
    margin: 0px 0px 0px 80px;
  }

  .main{
    margin-left: 77px;
  }
}


@media (max-width:689px) {
  .main-resume{
    margin: 0px 0px 0px 43px;
  }

  .main{
    margin-left: 40px;
  }
}

@media (max-width:627px) {
  .resume-year{
    margin-right: 108px;
  }
}

@media (max-width:592px) {
  .resume-year{
    margin-right: 82px;
  }

  .cert-title i{
    font-size: 16px;
  }
}

@media (max-width:566px) {
  .resume-part{
    flex-direction: column;
  }

   .resume-year{
    display: none;
  } 

}

@media (max-width:480px) {
  .resume-title{
    margin-right: 0px;
  }

  body{
    width: 524px;
  }
}